body {
  background: #080904;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}
.container {
  width: 998px;
  margin: 0 auto;
}

table {
  font-size: 18px;
  width: 100%;
}

td {
  color: #71a6da;
  padding: 5px;
}
th {
  padding: 5px;
  text-align: left;
}

.loading {
  font-size: 22px;
  font-weight: 300;
  height: 331px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search {
  justify-content: center;
}
input {
  padding: 20px;
  border: 0;
  margin: 0;
  border-radius: 5px;
  width: 300px;
}

.results {
  margin-bottom: 0.5em;
  text-align: center;
}
button {
  background: transparent;
  border: solid 1px #3893ec;
  color: #3893ec;
  cursor: pointer;
  font-size: 0.8em;
  margin: 2em;
  padding: 0.6em;
  width: 8em;
}

.button-row {
  text-align: right;
  width: 100%;
}
